<template name="controlPanelPage">
<div id="control-panel-page" class="page">
    <h1>
        <i class="fa fa-wrench"></i>
        <span class="title">Control Panel</span>
        <span class="tab-group">
            <button class="tab" tab-name="operations">Operations</button>
            <button class="tab" tab-name="api">API</button>
            <button class="tab" tab-name="collections">Collections</button>
            <button class="tab" tab-name="schemas">Schemas</button>
        </span>
    </h1>
    <div class="tab-container"></div>
</div>
</template>
