<template name="sidebar">
<div id="sidebar">
    <div id="header">
        <a id="logo" href="/"><img src="assets/onigiri_white_sm.png" /></a>
        <span class="title">anigiri</span>
    </div>
    <div id="navigation" class="navigation">
        <div class="search-group">
            <i class="fa fa-fw fa-search"></i>
            <input class="search-input" placeholder="Search Anigiri" />
        </div>
    {{#each navigationGroup}}
        <div class="group">
            <div class="title">{{title}}</div>
            <div class="list">
                {{#each list}}
                <a class="nav-item" data-key="{{key}}" href="{{href}}">
                    <i class="fa fa-fw {{icon}}"></i>
                    <span class="label">{{label}}</span>
                </a>
                {{/each}}
            </div>
        </div>
    {{/each}}
    </div>
    <div id="footer">
        {{#if isLoggedIn}}
        <div class="user-info">
            <img class="portrait" src="{{userPortrait}}" />
            <div class="group">
                <div class="name">{{userName}}</div>
                <a class="sign-out"><i class="fa fa-sign-out"></i><span class="label">Sign Out</span></a>
            </div>
        </div>
        {{else}}
        <button class="sign-in"><i class="fa fa-facebook-official"></i> <span class="label">Login with Facebook</span></button>
        {{/if}}
    </div>
</div>
</template>
