#Anigiri {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    
    // Basic layout styles for the page container
    #page-container, .page {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-width: 800px;

        h1 {
            text-align: left;
            height: $headerHeight;
            line-height: $headerHeight;
            padding-left: 1.5em;
            font-size: 1.5em;
            font-weight: 500;
            border-bottom: solid 1px $panel-border-color;
            background: white;
            @include box-sizing(border-box);
            @include box-shadow(0 1px 0 0 $lightest-gray);
        }
    }
    #page-container {
        #fullscreen-toggle:before {
            // fa-expand
            content: "\f065";
        }
    }
    // we are going to hide the default login buttons
    // provide by the Meteor accounts service and provide
    // our own visual solution.
    #login-buttons {
        display: none !important;
    }
    &.fullscreen-mode {
        #controls #fullscreen-toggle:before {
            // fa-expand
            content: "\f066";
        }
    }
}
