#controls {
    overflow: hidden;

    @mixin control-toggle {
        @include user-select(none);
        @include transition(opacity 0.2s);
        cursor: pointer;
        display: block;
        height: $headerHeight;
        line-height: $headerHeight;
        margin: 0 0.25em;
        border: none;
        color: $text-color;
        @include opacity(0.4);

        &:hover {
            background: none;
            @include opacity(0.6);
        }
    }
    #sidebar-toggle {
        @include control-toggle;
        float: left;
        font-size: 1.5em;

        &:before {
            // fa-toggle-left
            content: "\f191";
        }
    }
    #fullscreen-toggle {
        @include control-toggle;
        float: right;
        font-size: 1.25em;
    }
}
#Anigiri.min-sidebar {
    #sidebar-toggle {
        &:before {
            // fa-toggle-right
            content: "\f152";
        }
    }
}
