#sidebar {
    @include transition(all 0.2s);
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: $sidebarWidth;
    height: 100%;
    background: $darker-gray;
    color: $alt-text-color;
    @include opacity(1);

    #header {
        overflow: hidden;
        position: absolute;
        top: 0;
        width: $sidebarWidth;
        height: $headerHeight;
        padding: 1.0em 0;
        background: $theme-color;
        @include box-sizing(border-box);

        #logo {
            img {
                @include transition(all 0.2s);
                cursor: pointer;
                float: left;
                width: 32px;
                height: 32px;
                margin-left: 2.0em;
                @include opacity(0.8);
            }
            &:hover {
                img {
                    @include opacity(1.0);
                }
            }
        }
        .title {
            @include transition(all 0.2s);
            float: left;
            color: $white;
            font-size: 1.75em;
            margin-top: 0.25em;
            margin-left: 0.25em;
            @include opacity(1);
        }
    }
    #navigation {
        overflow-y: auto;
        position: absolute;
        top: $headerHeight;
        bottom: $footerHeight;
        width: 100%;
        padding: 2.0em 0;
        border-top: solid 4px $alt-theme-color;
        @include box-sizing(border-box);

        .search-group {
            @include search-group;
        }
        .list {
            .nav-item {
                @include transition(background-color 0.2s, color 0.2s);
                cursor: pointer;
                display: block;
                width: $sidebarWidth;
                padding: 0.5em 0;

                .fa {
                    @include transition(padding-left 0.2s);
                    margin-right: 0.5em;
                    padding-left: 1.5em;
                    font-size: 1.2em;
                }
                .label {
                    @include transition(all 0.2s);
                    display: inline;
                    padding: 0;
                    @include opacity(1);
                }
                &:hover {
                    background: lighten($darker-gray,5%);
                    color: $white;
                }
                &.active {
                    background: darken($darker-gray,5%);
                    color: $theme-color;
                }
            }
        }
    }
    #footer {
        @include transition(padding 0.2s);
        position: absolute;
        bottom: 0;
        width: $sidebarWidth;
        height: $footerHeight;
        padding: 1.0em 2.0em;
        background: $darkest-gray;
        @include box-sizing(border-box);
        text-align: center;

        .user-info {
            overflow: hidden;

            .portrait {
                float: left;
                width: 48px;
                height: 48px;
                border: solid 3px $dark-blue;
                @include border-radius(50%);
                @include box-sizing(border-box);
            }
            .group {
                @include transition(all 0.2s);
                float: left;
                margin-top: 0.5em;
                margin-left: 0.75em;
                line-height: 1.5em;
                @include opacity(1);

                .name {
                    color: $white;
                    font-size: 1.1em;
                }
                .sign-out {
                    cursor: pointer;
                    @include transition(color 0.2s);
                    color: $dark-blue;

                    .label {
                        height: 1.0em;
                        line-height: 1.0em;
                    }
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
        .sign-in {
            margin-top: 1.0em;
        }
    }
}
#Anigiri {
    #page-container {
        left: $sidebarWidth;
    }
    &[data-has-sidebar="false"] {
        #sidebar {
            left: -$sidebarWidth;
            @include opacity(0);
        }
        #page-container {
            left: 0;
        }
    }
    &[data-min-sidebar="true"] {
        #sidebar {
            @include opacity(1);
            width: $minSidebarWidth;

            #header {
                #logo {
                    img {
                        margin-left: 1.5em;
                    }
                }
                .title {
                    @include opacity(0);
                }
            }
            #navigation {
                .search-group {
                    width: $minSidebarWidth;
                    height: 3.25em;
                    margin: 0;
                    border: solid 0px transparent;
                    text-align: center;

                    .fa-search {
                        position: static;
                        font-size: 1.75em;
                        height: 1.0em;
                        line-height: 1.0em;
                    }
                    .search-input {
                        display: none;
                    }
                }
                .list {
                    .nav-item {
                        padding-top: 0.75em;
                        padding-bottom: 0.25em;

                        .fa {
                            padding-left: 1.0em;
                            font-size: 1.75em;
                        }
                        .label {
                            @include opacity(0);
                        }
                    }
                }
            }
            #footer {
                padding: 1.0em 1.0em;

                .group {
                    @include opacity(0);
                }
            }
        }
        #page-container {
            left: $minSidebarWidth;
        }
    }
}
