$tabGroupHeight: 36px;

#control-panel-page {
    h1 {
        margin-bottom: 0 !important;
    }
    .tab-group {
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        @include border-radius(0);
        
        .tab {
            float: left;
            width: calc(100% / 4);
            height: $tabGroupHeight;
            background: $lightest-gray;
            border: none;
            border-right: solid 1px darken($lightest-gray,5%);
            color: $light-gray;
            font-weight: 500;
            @include border-radius(0);

            &:hover {
                background: darken($lightest-gray,5%);
            }
            &.active {
                color: $white;
                background: $lighter-gray;
            }
        }
    }
    input, .chosen-container {
        text-align: left;
    }
    .tab-content {
        display: none;
        position: absolute;
        overflow-y: auto;
        top: $headerHeight + $tabGroupHeight;
        left: 0;
        right: 0;
        bottom: 0;

        // Specific styles for the API tab
        &#tab-api {
            .panel {
                position: absolute;
                height: 100%;

                .title {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    font-size: 1.25em;
                    padding-top: 1.0em;
                    padding-left: 2.25em;
                    text-transform: uppercase;
                    background: $white;
                    border-bottom: solid 1px $theme-color;
                    @include box-sizing(border-box);
                }
                .content {
                    position: absolute;
                    top: 5.0em;
                    bottom: 0;
                    width: 100%;
                    overflow-y: auto;
                    @include box-sizing(border-box);
                }
                // The request panel
                &.request {
                    overflow-y: auto;
                    left: 0;
                    width: 50%;
                    border-right: solid 1px $lightest-gray;

                    .field {
                        margin-bottom: 1.0em;

                        .label {
                            @include ellipsis;
                            vertical-align: top;
                            width: 10.0em;
                            text-align: right;
                            font-weight: 500;
                        }
                        .tagit {
                            min-width: 20.0em;
                            width: 20.0em;
                        }
                        select, .value {
                            width: 20.0em;
                        }
                        .help {
                            @include transition(color 0.2s);
                            cursor: pointer;
                            font-size: 1.25em;
                            color: $lighter-gray;

                            &:hover {
                                color: $light-gray;
                            }
                        }
                    }
                    .api-submit-button {
                        position: relative;
                        width: 20.0em;
                        margin-left: 10.35em;

                        i {
                            position: absolute;
                            line-height: 2.25em;
                            left: 4.5em;
                        }
                    }
                }
                // The response panel
                &.response {
                    left: 50%;
                    right: 0;

                    .content {
                        padding: 0 3.0em 1.5em 3.0em;
                    }
                }
            }
        }
        // Specific styles for the Schemas tab
        &#tab-collections {
            .collection-select {
                margin-top: 1.5em;
                text-align: center;
            }
            .table-container {
                padding: 1.0em 2.0em;

                table {
                    width: 100%;
                }
            }
        }
        // Specific styles for the Schemas tab
        &#tab-schemas {
            .schema-select {
                margin-top: 1.5em;
                text-align: center;
            }
            .table-container {
                padding: 1.0em 2.0em 2.0em 2.0em;

                table {
                    width: 100%;
                }
            }
        }
    }
    .loading-spinner {
        @include loading-spinner(3.0em);
        margin-top: 1.0em;
    }
}
