#control-panel-page {
    text-align: center;

    
    .tab-group {
        overflow: hidden;
        width: 60.0em;
        margin: 2.0em auto;
        @include border-radius(3px);
        
        .tab {
            float: left;
            width: 15.0em;
            background: $lightest-gray;
            border: none;
            color: $light-gray;
            font-weight: 500;
            @include border-radius(0);

            &:hover {
                background: darken($lightest-gray,5%);
            }
            &.active {
                color: $white;
                background: $theme-color;
            }
        }
    }
    input, .chosen-container {
        text-align: left;
    }
    .api {
        padding: 0 0 2.0em 0;
        border-bottom: solid 1px $lightest-gray;

        .api-parameter-comma:last-of-type {
            display: none;
        }
        .api-submit-button {
            margin-left: 1.0em;
        }
    }
}
