#home-page {
    .banner {
        height: 75%;
        min-height: 315px;
        text-align: center;

        .hero {
            .logo {
                width: 64px;
                height: 64px;
            }
            .title {
                color: $black;
            }
            .caption {
                strong {
                    color: $theme-color;
                }
            }
        }
        &:before {
            background-position: center top;
        }
    }
}
