<template name="homePage">
<div id="home-page" class="page">
    <select id="test">
        <optgroup label="Group 1">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
        </optgroup>
        <optgroup label="Group 2">
            <option>Option 6</option>
            <option>Option 7</option>
            <option>Option 8</option>
        </optgroup>
    </select>
    <span class="label">something</span>
    <button>Button 1</button>
    <input type="text" placeholder="Enter something here" />
    {{> hero
        title="Anigiri."
        caption="Never lose track of your anime again"
        buttonId="sign-in"
        buttonText="Login with Facebook"
    }}
    {{> loginButtons}}
</div>
</template>
