<template name="controlPanelPage">
<div id="control-panel-page" class="page">
    <h1>Control Panel</h1>

    <div class="tab-group">
        <button class="tab" tab-name="operations">Operations</button>
        <button class="tab" tab-name="api">API</button>
        <button class="tab" tab-name="collections">Collections</button>
        <button class="tab" tab-name="schemas">Schemas</button>
    </div>
    <div class="tab-content">
        {{#if isOperationsTab}}{{> controlPanelOperationsTab}}{{/if}}
        {{#if isAPITab}}{{> controlPanelAPITab}}{{/if}}
        {{#if isCollectionsTab}}{{> controlPanelCollectionsTab}}{{/if}}
        {{#if isSchemaTab}}{{> controlPanelSchemasTab}}{{/if}}
    </div>
</div>
</template>
