html, body {
    font-family: $sans-serif;
    font-size: $font-size;
    font-weight: 400;
    color: $text-color;
    line-height: 2.0em;
    width: 100%;
    height: 100%;
}
button {
    @include button;
}
// we are going to hide the default login buttons
// provide by the Meteor accounts service and provide
// our own visual solution.
#login-buttons {
    display: none !important;
    background: pink;
}
