@mixin input-element($font-size: 1.0em) {    
    display: inline-block;
    margin: 0;
    padding: 0 0.5em;
    height: 2.25em;
    line-height: 2.25em;
    font-family: $sans-serif;
    font-size: $font-size;
    outline: none;
    @include box-sizing(border-box);
    @include border-radius(3px);
}
@mixin icon-control($font-size: 1.0em) {
    @include transition(all 0.5s);
    width: 2.0em;
    height: 2.0em;
    line-height: 2.0em;
    text-align: center;
    margin: 0.25em;
    padding: 0;
    font-size: $font-size;
    border: none;
    background: $black;
    @include box-sizing(border-box);
    @include border-radius(50%);
    @include opacity(0.3);

    &:hover {
        @include opacity(0.5);
    }
}
@mixin button($font-size: 1.0em) {
    @include transition(background-color 0.2s, border-bottom-color 0.2s);
    cursor: pointer;
    @include input-element($font-size);
    padding: 0 1.0em;
    background: $theme-color;
    color: $white;
    border: none;
    border-bottom: solid 2px darken($theme-color,20%);
    
    &:hover {
        background: lighten($theme-color, 10%);
        border-bottom: solid 2ps darken($theme-color,10%);
    }
    &:active {
        background: $theme-color;
        border-bottom: solid 2px darken($theme-color,20%);
    }
    &[disabled] {
        cursor: auto;
        cursor: not-allowed;
        @include opacity(0.5);
    }
}
@mixin text-input($font-size: 1.0em) {
    @include transition(all 0.2s);
    @include input-element;
    border: solid 1px $lighter-gray;

    &:hover {
        background: lighten($theme-color,39%);
        border-color: lighten($theme-color,20%);
    }
    &:active, &:focus {
        border-color: $theme-color;
    }
    &[disabled] {
        cursor: not-allowed;
        background: $lightest-gray;
        border-color: $lighter-gray;
    }
}
