$font-size: 12px;
$sans-serif: GothamRounded, HelveticaNeue, Helvetica, Arial, sans-serif;
$monospace: "Lucida Console", Monaco, monospace;

// dimension variables
$sidebarWidth: 250px;
$minSidebarWidth: 72px;
$headerHeight: 56px;
$footerHeight: 72px;

// define colors
$text-color: #595959;
$alt-text-color: #a2a4b5;
$theme-color: #f53b5b;
$alt-theme-color: #A82138;
$bg-color: #F4F5F6;

$panel-border-color: #E9EAEB;

// define grayscale shades
$white: #FFF;
$faded-white: #FAFAFA;
$light-gray: #9399A3;
$lighter-gray: #C2C2C2;
$lightest-gray: #F2F2F2;
$dark-gray: #3E4956;
$darker-gray: #2a2c3c;
$darkest-gray: #0d1922;
$black: #000;

// define other colors
$dark-blue: #5a6088;
$darkest-blue: #3f425a;
