$font-size: 12px;
$sans-serif: GothamRounded, HelveticaNeue, Helvetica, Arial, sans-serif;

// define colors
$text-color: #595959;
$theme-color: #f53b5b;

// define grayscale shades
$white: #FFF;
$darker-gray: #2a2c3c;
$dark-gray: #3E4956;
$light-gray: #9399A3;
$lighter-gray: #C2C2C2;
$lightest-gray: #F2F2F2;
$black: #000;